@charset "UTF-8";
/* line 4, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 6, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html { font-size: 100.01%; }

/* line 16, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 45, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

/* line 20, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 22, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img { border: none; }

/* line 11, ../src/screen.scss */
body { line-height: 1.5; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 81.25%; min-width: 977px; width: auto !important; width: 977px; }
/* line 65, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 { font-weight: normal; color: #222222; }
/* line 66, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img { margin: 0; }
/* line 67, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
/* line 68, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 { font-size: 2em; margin-bottom: 0.75em; }
/* line 69, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
/* line 70, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
/* line 71, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
/* line 72, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 { font-size: 1em; font-weight: bold; }
/* line 73, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p { margin: 0 0 1.5em; }
/* line 74, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 75, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
/* line 77, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a { text-decoration: underline; color: #000099; }
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited { color: #000066; }
/* line 21, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus { color: black; }
/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover { color: black; }
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active { color: #cc0099; }
/* line 78, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote { margin: 1.5em; color: #666666; font-style: italic; }
/* line 79, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong { font-weight: bold; }
/* line 80, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em { font-style: italic; }
/* line 81, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn { font-style: italic; font-weight: bold; }
/* line 82, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub { line-height: 0; }
/* line 83, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym { border-bottom: 1px dotted #666666; }
/* line 84, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address { margin: 0 0 1.5em; font-style: italic; }
/* line 85, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del { color: #666666; }
/* line 86, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre { margin: 1.5em 0; white-space: pre; }
/* line 87, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt { font: 1em Arial, Helvetica, sans-serif; line-height: 1.5; }
/* line 88, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol { margin: 0; }
/* line 89, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
/* line 90, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul { list-style-type: disc; }
/* line 91, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol { list-style-type: decimal; }
/* line 92, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl { margin: 0 0 1.5em 0; }
/* line 93, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt { font-weight: bold; }
/* line 94, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd { margin-left: 1.5em; }
/* line 95, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table { margin-bottom: 1.4em; width: 100%; }
/* line 96, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th { font-weight: bold; }
/* line 97, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th { background: #c3d9ff; }
/* line 98, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption { padding: 4px 10px 4px 5px; }
/* line 99, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td { background: #e5ecf9; }
/* line 100, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot { font-style: italic; }
/* line 101, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption { background: #eeeeee; }
/* line 102, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet { color: #666666; }
/* line 103, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud { color: #111111; }
/* line 9, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear { clear: both; }
/* line 12, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap { white-space: nowrap; }
/* line 16, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix { overflow: hidden; *zoom: 1; }
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
/* line 22, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
/* line 26, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first { margin-left: 0; padding-left: 0; }
/* line 29, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last { margin-right: 0; padding-right: 0; }
/* line 32, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top { margin-top: 0; padding-top: 0; }
/* line 35, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom { margin-bottom: 0; padding-bottom: 0; }
/* line 4, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
/* line 29, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a { color: #8a1f11; }
/* line 6, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
/* line 37, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a { color: #514721; }
/* line 8, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
/* line 45, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a { color: #264409; }
/* line 10, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide { display: none; }
/* line 12, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight { background: yellow; }
/* line 14, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added { background: #006600; color: white; }
/* line 16, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed { background: #990000; color: white; }
/* line 18, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body label { font-weight: bold; }
/* line 19, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
/* line 20, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body legend { font-weight: bold; font-size: 1.2em; }
/* line 26, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input.text, body input.title, body input[type=email], body input[type=text], body input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
/* line 27, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input.title { font-size: 1.5em; }
/* line 31, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input[type=checkbox], body input.checkbox, body input[type=radio], body input.radio { position: relative; top: 0.25em; }
/* line 33, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body textarea { margin: 0.5em 0; padding: 5px; }
/* line 34, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body select { margin: 0.5em 0; }
/* line 59, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body fieldset { border: 1px solid #cccccc; }
/* line 62, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input.text, body input.title, body input[type=email], body input[type=text], body input[type=password], body textarea, body select { border: 1px solid #bbbbbb; }
/* line 64, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input.text:focus, body input.title:focus, body input[type=email]:focus, body input[type=text]:focus, body input[type=password]:focus, body textarea:focus, body select:focus { border: 1px solid #666666; }
/* line 48, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body input.text, body input.title, body input[type=email], body input[type=text], body input[type=password] { width: 300px; }
/* line 50, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body textarea { width: 390px; height: 250px; }

/* line 25, ../src/screen.scss */
#Top #main { text-align: right; background: transparent url('../images/top_bg.png?1302599556') left bottom repeat-x; overflow: hidden; }
/* line 29, ../src/screen.scss */
#Top #main ul { float: left; width: 940px; color: #aaaaaa; font-size: 85%; text-align: right; padding: 0px; margin-right: 0px; margin-left: 33px; }
/* line 39, ../src/screen.scss */
#Top #main ul li { display: inline; padding: 0 0 0 10px; }
/* line 42, ../src/screen.scss */
#Top #main ul li a { color: #7f7f7f; text-decoration: none; }
/* line 52, ../src/screen.scss */
#Top aside { background: transparent url('../images/top_bg.png?1302599556') left bottom repeat-x; padding: 25px 33px; display: block; }
/* line 58, ../src/screen.scss */
#Top .section { width: 940px; padding: 0 0 20px 33px; overflow: hidden; }
/* line 63, ../src/screen.scss */
#Top .section h1 { margin: 0 0 20px 0; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/logo.png?1302599556'); background-repeat: no-repeat; background-position: 50% 50%; width: 408px; height: 90px; float: left; }
/* line 67, ../src/screen.scss */
#Top .section h1 a { width: 100%; height: 100%; display: block; }
/* line 28, ../src/partials/_functions.scss */
#Top .section .forms form { float: right; }
/* line 30, ../src/partials/_functions.scss */
#Top .section .forms form .logout { padding: 10px; }
/* line 32, ../src/partials/_functions.scss */
#Top .section .forms form .logout a { background: #053463 url('../images/login_bg.png?1302599556') left top no-repeat; width: 60px; height: 28px; border: 0; margin: 0; color: #fff; padding: 7px; font-weight: bold; font-size: 92.308%; line-height: 14px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin: 10px 10px 10px 0; margin: 0 10px 0 0; text-decoration: none; margin-left: 10px; }
/* line 41, ../src/partials/_functions.scss */
#Top .section .forms form.login { padding: 10px 0 10px 20px; margin: 0 0 10px; background: url('../images/login_form_bg.png?1302599556') right bottom no-repeat transparent; width: 458px; height: 40px; }
/* line 48, ../src/partials/_functions.scss */
#Top .section .forms form.login input[type=submit] { background: #053463 url('../images/login_bg.png?1302599556') left top no-repeat; width: 60px; height: 28px; border: 0; margin: 0; color: #fff; padding: 7px; font-weight: bold; font-size: 92.308%; line-height: 14px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin: 10px 10px 10px 0; }
/* line 54, ../src/partials/_functions.scss */
#Top .section .forms form.search input[type=search] { width: 206px; height: 9px; padding: 10px; background: transparent url('../images/input.png?1302599556') left top no-repeat; border: 0; font-size: 100%; color: #cfcfcf; }
/* line 57, ../src/partials/_functions.scss */
#Top .section .forms form.search input[type=submit] { background: #053463 url('../images/search.png?1302599556') left top no-repeat; width: 60px; height: 28px; border: 0; margin: 0; color: #fff; padding: 7px; font-weight: bold; font-size: 92.308%; line-height: 14px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin: 10px 10px 10px 0; margin: 0 10px 0 0; }
/* line 62, ../src/partials/_functions.scss */
#Top .section .forms form input { font-family: Arial, Helvetica, sans-serif; margin: 10px 10px 10px 0; }
/* line 66, ../src/partials/_functions.scss */
#Top .section .forms form input[type=text] { width: 154px; height: 10px; padding: 10px; background: transparent url('../images/login_input_bg.png?1302599556') left top no-repeat; border: 0; font-size: 100%; color: #cfcfcf; }
/* line 69, ../src/partials/_functions.scss */
#Top .section .forms form input[type=text].username { width: 124px; background-image: url('../images/login_username_bg.png?1302599556'); padding: 10px 10px 10px 40px; margin-left: 5px; }

/* line 88, ../src/screen.scss */
#MainNavigation { overflow: hidden; }
/* line 91, ../src/screen.scss */
#MainNavigation ul { clear: both; padding: 0px; margin: 0 0 10px 33px; border: solid 1px #cfcfcf; border-width: 0 0 0 1px; border-bottom: 3px #e09c18 solid; float: left; overflow: hidden; }
/* line 101, ../src/screen.scss */
#MainNavigation ul li { float: left; list-style-image: none; list-style-type: none; margin-left: 0px; padding: 7px; border: solid 1px #cfcfcf; border-width: 0 1px 0 0; }
/* line 107, ../src/screen.scss */
#MainNavigation ul li .icon_HOUSE { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/icon_HOUSE.png?1302860645'); background-repeat: no-repeat; background-position: 50% 50%; width: 16px; height: 15px; display: block; padding: 0 20px 0 20px; overflow: hidden; height: 20px; }
/* line 117, ../src/screen.scss */
#MainNavigation ul li.active, #MainNavigation ul li:hover { background: #e09c18 url('../images/menu_active_bg.png?1306225437') 0 0; }
/* line 120, ../src/screen.scss */
#MainNavigation ul li.active a, #MainNavigation ul li:hover a { color: #FFF; }
/* line 123, ../src/screen.scss */
#MainNavigation ul li.active a.icon_HOUSE, #MainNavigation ul li:hover a.icon_HOUSE { background-image: url('../images/icon_white_House.png?1306314420'); }
/* line 128, ../src/screen.scss */
#MainNavigation ul li.active li a, #MainNavigation ul li:hover li a { color: black; }
/* line 136, ../src/screen.scss */
#MainNavigation ul li a { color: black; text-decoration: none; }

/* line 145, ../src/screen.scss */
#Main { background: transparent url('../images/main_bg.png?1302768804') repeat-y; overflow: hidden; }
/* line 148, ../src/screen.scss */
#Main a { color: black; text-decoration: none; }
/* line 151, ../src/screen.scss */
#Main a:hover { text-decoration: underline; }

/* line 160, ../src/screen.scss */
#MainbColumn { margin-left: 33px; width: 620px; float: left; }
/* line 165, ../src/screen.scss */
#MainbColumn .bar { display: block; background-color: #053463; color: #fff; padding: 6.667px; text-transform: uppercase; font-size: 10px; }
/* line 175, ../src/screen.scss */
#MainbColumn .pageStrip { clear: both; overflow: hidden; width: 620px; margin: 0 0 10px 0; font-size: 11px; text-transform: uppercase; }
/* line 187, ../src/screen.scss */
#MainbColumn .pageStrip .date { color: #c4c4c4; float: left; margin-right: 5px; }
/* line 192, ../src/screen.scss */
#MainbColumn .pageStrip a { color: #e09c18; }
/* line 196, ../src/screen.scss */
#MainbColumn .pageStrip ul { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; float: right; }
/* line 56, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#MainbColumn .pageStrip ul li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
/* line 45, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#MainbColumn .pageStrip ul li:first-child, #MainbColumn .pageStrip ul li.first { padding-left: 0; }
/* line 46, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#MainbColumn .pageStrip ul li:last-child, #MainbColumn .pageStrip ul li.last { padding-right: 0; }
/* line 202, ../src/screen.scss */
#MainbColumn .pageStrip span { float: left; }
/* line 206, ../src/screen.scss */
#MainbColumn .pageStrip.underline { border-bottom: 1px solid #cfcfcf; }
/* line 210, ../src/screen.scss */
#MainbColumn .pageStrip .tools { float: right; height: 16px; }
/* line 213, ../src/screen.scss */
#MainbColumn .pageStrip .tools a { width: 20px; height: 16px; text-indent: -9999px; display: block; float: right; cursor: pointer; }
/* line 220, ../src/screen.scss */
#MainbColumn .pageStrip .tools a.zoomin { background: transparent url('../images/articletools_zoomin.png?1305293582') no-repeat; }
/* line 223, ../src/screen.scss */
#MainbColumn .pageStrip .tools a.zoomin.active { background: transparent url('../images/articletools_zoomin_active.png?1305293607') no-repeat; }
/* line 228, ../src/screen.scss */
#MainbColumn .pageStrip .tools a.zoomout { background: transparent url('../images/articletools_zoomout.png?1305293528') no-repeat; }
/* line 230, ../src/screen.scss */
#MainbColumn .pageStrip .tools a.zoomout.active { background: transparent url('../images/articletools_zoomout_active.png?1305293655') no-repeat; }
/* line 234, ../src/screen.scss */
#MainbColumn .pageStrip .tools a.print { background: transparent url('../images/icon_PRINT.png?1305288989') no-repeat; margin-right: 10px; }
/* line 242, ../src/screen.scss */
#MainbColumn h4 { margin: 0 0 10px 0; }
/* line 245, ../src/screen.scss */
#MainbColumn aside { margin: -10px 0 10px 0; display: block; overflow: hidden; clear: both; }

/* line 255, ../src/screen.scss */
#sideColumn { margin-left: 20px; width: 300px; float: left; overflow: hidden; }
/* line 260, ../src/screen.scss */
#sideColumn h4 { margin: 0 0 10px 0; }
/* line 263, ../src/screen.scss */
#sideColumn hr { clear: both; border: none; background: transparent url('../images/line_dotted.png?1302776059') repeat-x; background-position: 10px; margin: 0 0 10px 0; }
/* line 271, ../src/screen.scss */
#sideColumn aside { margin: 0 0 10px 0; display: block; overflow: hidden; clear: both; text-align: center; }

/* line 280, ../src/screen.scss */
#AdColumn { margin-left: 20px; float: left; }

/* line 2, ../src/partials/_articleviews.scss */
.articleview_grid { margin: 10px 0 20px 0; background-image: url('../images/620_article_horizontal_border.png?1302616727'); overflow: hidden; clear: both; }
/* line 8, ../src/partials/_articleviews.scss */
.articleview_grid hr { clear: both; border: none; height: 1px; background-color: #cfcfcf; margin: 0 0 10px 0; }
/* line 14, ../src/partials/_articleviews.scss */
.articleview_grid hr.last { margin: 0 0 0 0; }
/* line 18, ../src/partials/_articleviews.scss */
.articleview_grid article { padding: 0 20px 0 0; float: left; width: 300px; border-bottom: none!important; margin-bottom: 10px; }
/* line 26, ../src/partials/_articleviews.scss */
.articleview_grid article p { margin: 0; padding: 0; }
/* line 30, ../src/partials/_articleviews.scss */
.articleview_grid article.even { width: 300px; padding: 0 0 0 0; }
/* line 35, ../src/partials/_articleviews.scss */
.articleview_grid article img { float: left; margin: 0 10px 10px 0; }

/* line 44, ../src/partials/_articleviews.scss */
.articleview_picturelist { margin: 10px 0 10px 0; overflow: hidden; clear: both; }
/* line 48, ../src/partials/_articleviews.scss */
.articleview_picturelist hr { clear: both; border: none; height: 1px; background-color: #cfcfcf; margin: 0 0 10px 0; }
/* line 54, ../src/partials/_articleviews.scss */
.articleview_picturelist hr.last { margin: 0 0 0 0; }
/* line 58, ../src/partials/_articleviews.scss */
.articleview_picturelist article { padding: 0 0 0 0; float: left; width: 100%; margin-bottom: 10px; }
/* line 64, ../src/partials/_articleviews.scss */
.articleview_picturelist article.even img { float: right; margin: 0 0 10px 10px; }
/* line 69, ../src/partials/_articleviews.scss */
.articleview_picturelist article.last { border-bottom-style: none; }
/* line 72, ../src/partials/_articleviews.scss */
.articleview_picturelist article p { margin: 0; }
/* line 77, ../src/partials/_articleviews.scss */
.articleview_picturelist article img { float: left; margin: 0 10px 10px 0; }
/* line 82, ../src/partials/_articleviews.scss */
.articleview_picturelist article h4 { display: block; }
/* line 85, ../src/partials/_articleviews.scss */
.articleview_picturelist article .timedate { font-size: 10px; }

/* line 2, ../src/partials/_boxes.scss */
.quiz { background: url('../images/gray_pattern_bg.png?1302766690'); padding: 10px; overflow: hidden; margin-bottom: 10px; }
/* line 12, ../src/partials/_boxes.scss */
.quiz form label { float: left; display: block; margin-bottom: 10px; }
/* line 17, ../src/partials/_boxes.scss */
.quiz form input { display: block; clear: both; float: left; }

/* line 26, ../src/partials/_boxes.scss */
.sideColumn_box { background-color: #f2f2f2!important; overflow: hidden; }
/* line 36, ../src/partials/_boxes.scss */
.sideColumn_box.no-background { background: none; margin-top: 20px; }
/* line 39, ../src/partials/_boxes.scss */
.sideColumn_box.no-background h3 { color: black; clear: both; border: none; height: 38px; margin: 0; }
/* line 49, ../src/partials/_boxes.scss */
.sideColumn_box.blue { background: transparent url('../images/header_bg_blue.png?1302768914') no-repeat center top; }
/* line 52, ../src/partials/_boxes.scss */
.sideColumn_box.orange { background: transparent url('../images/header_bg_orange.png?1302778759') no-repeat center top; }
/* line 55, ../src/partials/_boxes.scss */
.sideColumn_box.menu { margin-bottom: 20px; background-color: #e5e5e5!important; }
/* line 58, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul { margin: 0; padding: 0; }
/* line 61, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li { border-bottom: 1px dotted #cfcfcf; }
/* line 63, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li a { height: 40px; line-height: 40px; padding-left: 40px; display: block; overflow: hidden; }
/* line 69, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li a:hover { background: transparent url('../images/arrow_right_orange.png?1305018833') no-repeat 20px center; text-decoration: none!important; background-color: #f2f2f2; }
/* line 74, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li a.active { background: transparent url('../images/arrow_right_orange.png?1305018833') no-repeat 20px center; background-color: #f2f2f2; }
/* line 79, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li form { padding: 0 20px 0 20px; }
/* line 81, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li form .search { width: 187px; height: 15px; }
/* line 85, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li form .button { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/button_search.png?1305023452'); background-repeat: no-repeat; background-position: 0 0; height: 28px; width: 57px; border: 0; cursor: pointer; }
/* line 92, ../src/partials/_boxes.scss */
.sideColumn_box.menu ul li form .button:hover { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/button_search.png?1305023452'); background-repeat: no-repeat; background-position: 0 -30px; }
/* line 101, ../src/partials/_boxes.scss */
.sideColumn_box .articleview_picturelist { padding: 0 10px; }
/* line 104, ../src/partials/_boxes.scss */
.sideColumn_box h3 { width: 262px; height: 38px; margin-bottom: 0px; color: #fff; line-height: 38px; padding-left: 10px; }
/* line 111, ../src/partials/_boxes.scss */
.sideColumn_box h3.icon_video { background: transparent url('../images/icon_VIDEO.png?1302779836') no-repeat; background-position: 10px 10px; padding-left: 38px; }
/* line 116, ../src/partials/_boxes.scss */
.sideColumn_box h3.icon_gallery { background: transparent url('../images/icon_GALLERY.png?1305018295') no-repeat; background-position: 10px 10px; padding-left: 38px; }
/* line 121, ../src/partials/_boxes.scss */
.sideColumn_box h3.icon_rss { background: transparent url('../images/icon_RSS.png?1302770731') no-repeat; background-position: 10px 10px; padding-left: 38px; }
/* line 126, ../src/partials/_boxes.scss */
.sideColumn_box h3.icon_FB { background: transparent url('../images/icon_FB.png?1302786968') no-repeat; background-position: 10px 10px; padding-left: 38px; }
/* line 131, ../src/partials/_boxes.scss */
.sideColumn_box h3 a { color: white !important; }
/* line 133, ../src/partials/_boxes.scss */
.sideColumn_box h3 a:hover { text-decoration: none!important; }
/* line 139, ../src/partials/_boxes.scss */
.sideColumn_box a { color: #fff; text-decoration: none; }
/* line 144, ../src/partials/_boxes.scss */
.sideColumn_box a:hover { color: #fff; text-decoration: underline; }
/* line 149, ../src/partials/_boxes.scss */
.sideColumn_box small { font-size: 11px; color: #87a5c3; float: right; padding-right: 10px; }
/* line 155, ../src/partials/_boxes.scss */
.sideColumn_box small a { color: #87a5c3; }
/* line 159, ../src/partials/_boxes.scss */
.sideColumn_box dl { padding: 10px; clear: both; overflow: hidden; }
/* line 163, ../src/partials/_boxes.scss */
.sideColumn_box dl dt { float: left; width: 30%; clear: left; }
/* line 168, ../src/partials/_boxes.scss */
.sideColumn_box dl dd { float: left; width: 70%; margin: 0; }
/* line 174, ../src/partials/_boxes.scss */
.sideColumn_box dl hr { clear: both; height: 20px; }
/* line 179, ../src/partials/_boxes.scss */
.sideColumn_box .videoplaceholder { padding: 10px 10px 0 10px; clear: left; }

/* line 3, ../src/partials/_article.scss */
#Main .template-article header { margin-bottom: 20px; }
/* line 6, ../src/partials/_article.scss */
#Main .template-article a { color: #e09c18; text-decoration: none; }
/* line 10, ../src/partials/_article.scss */
#Main .template-article .picturecaption { color: #767676; font-size: 90%; }
/* line 15, ../src/partials/_article.scss */
#Main .template-article aside { margin: 0; float: right; margin: 0 0 10px 10px; clear: both; }
/* line 21, ../src/partials/_article.scss */
#Main .template-article h4 { margin-bottom: 5px; font-weight: bold; }
/* line 25, ../src/partials/_article.scss */
#Main .template-article .pubdatetime { border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; overflow: hidden; padding: 5px 0 5px 0; }
/* line 31, ../src/partials/_article.scss */
#Main .template-article .box { width: 300px; margin-bottom: 10px; background-color: #f6f6f6; clear: both; }
/* line 36, ../src/partials/_article.scss */
#Main .template-article .box p { padding: 10px; margin: 0; clear: both; }
/* line 41, ../src/partials/_article.scss */
#Main .template-article .box img { float: left; }
/* line 44, ../src/partials/_article.scss */
#Main .template-article .box hr { background: url("../images/line_dotted.png?1302776059") repeat-x scroll 10px 50% transparent; border: medium none; clear: both; margin: 0 0 6.667px; }
/* line 50, ../src/partials/_article.scss */
#Main .template-article .box .paragraphimage { border-bottom: 1px solid #cfcfcf; }
/* line 53, ../src/partials/_article.scss */
#Main .template-article .box .downloads { padding: 10px; }
/* line 25, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href^="http:"], #Main .template-article .box .downloads a[href^="mailto:"], #Main .template-article .box .downloads a[href^="http:"]:visited, #Main .template-article .box .downloads a[href$=".pdf"], #Main .template-article .box .downloads a[href$=".doc"], #Main .template-article .box .downloads a[href$=".docx"], #Main .template-article .box .downloads a[href$=".xls"], #Main .template-article .box .downloads a[href$=".xlsx"], #Main .template-article .box .downloads a[href$=".rss"], #Main .template-article .box .downloads a[href$=".rdf"], #Main .template-article .box .downloads a[href^="aim:"] { padding: 2px 0px 2px 22px; margin: -2px 0; background-repeat: no-repeat; background-position: left center; }
/* line 27, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href^="http:"] { background-image: url('../images/link_icons/external.png?1306316372'); }
/* line 29, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href^="mailto:"] { background-image: url('../images/link_icons/email.png?1306316372'); }
/* line 31, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href^="http:"]:visited { background-image: url('../images/link_icons/visited.png?1306316372'); }
/* line 33, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".pdf"] { background-image: url('../images/link_icons/pdf.png?1306316372'); }
/* line 35, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".doc"] { background-image: url('../images/link_icons/doc.png?1306316372'); }
/* line 37, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".xlsx"] { background-image: url('../images/link_icons/xls.png?1306316372'); }
/* line 39, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".docx"] { background-image: url('../images/link_icons/doc.png?1306316372'); }
/* line 41, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".xls"] { background-image: url('../images/link_icons/xls.png?1306316372'); }
/* line 44, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href$=".rss"], #Main .template-article .box .downloads a[href$=".rdf"] { background-image: url('../images/link_icons/feed.png?1306316372'); }
/* line 46, ../src/partials/link_icons.scss */
#Main .template-article .box .downloads a[href^="aim:"] { background-image: url('../images/link_icons/im.png?1306316372'); }
/* line 56, ../src/partials/_article.scss */
#Main .template-article .box .downloads h4 { margin: 0 0 6.667px; font-weight: normal; }
/* line 60, ../src/partials/_article.scss */
#Main .template-article .box .downloads dl { padding: 0; margin: 0; }
/* line 63, ../src/partials/_article.scss */
#Main .template-article .box .downloads dl dd { margin: 0 0 6.667px 0; }
/* line 65, ../src/partials/_article.scss */
#Main .template-article .box .downloads dl dd a { color: black; }
/* line 67, ../src/partials/_article.scss */
#Main .template-article .box .downloads dl dd a:hover { color: #e09c18; }
/* line 74, ../src/partials/_article.scss */
#Main .template-article .box .facts { padding: 10px; }
/* line 76, ../src/partials/_article.scss */
#Main .template-article .box .facts h4 { margin: 0 0 6.667px; font-weight: normal; }
/* line 80, ../src/partials/_article.scss */
#Main .template-article .box .facts p { margin: 0; }
/* line 83, ../src/partials/_article.scss */
#Main .template-article .box .facts ul { padding: 10px 0 10px 20px; margin: 0; }
/* line 88, ../src/partials/_article.scss */
#Main .template-article .box .articlelist { padding: 10px; }
/* line 90, ../src/partials/_article.scss */
#Main .template-article .box .articlelist h4 { margin: 0 0 6.667px; font-weight: normal; }
/* line 94, ../src/partials/_article.scss */
#Main .template-article .box .articlelist p { margin: 0; }
/* line 97, ../src/partials/_article.scss */
#Main .template-article .box .articlelist dl { padding: 0; margin: 0; }
/* line 100, ../src/partials/_article.scss */
#Main .template-article .box .articlelist dl dd { margin: 0 0 6.667px 0; }
/* line 106, ../src/partials/_article.scss */
#Main .template-article .no-background { background: none; border-left: 1px solid #cfcfcf; }
/* line 110, ../src/partials/_article.scss */
#Main .template-article .fl { float: left; margin-right: 10px; }
/* line 114, ../src/partials/_article.scss */
#Main .template-article .fr { float: right; margin-left: 10px; }
/* line 119, ../src/partials/_article.scss */
#Main .template-article .articlecomments h4 { border-top: double #cfcfcf; padding: 10px 0 10px 0; margin: 0; }
/* line 124, ../src/partials/_article.scss */
#Main .template-article .articlecomments h5 { border-top: 1px solid #cfcfcf; padding: 10px 0 0 0; margin: 0; }
/* line 129, ../src/partials/_article.scss */
#Main .template-article .articlecomments p { margin: 0 0 10px 0; }
/* line 132, ../src/partials/_article.scss */
#Main .template-article .articlecomments hr { background: url("../images/articlecomments_line.png") no-repeat transparent; height: 19px; border: none; margin: 0 0 10px 0; }
/* line 140, ../src/partials/_article.scss */
#Main .template-article .byline { border: 1px solid #cfcfcf; padding: 6.667px; overflow: hidden; margin-bottom: 20px; }
/* line 146, ../src/partials/_article.scss */
#Main .template-article .byline .author { float: left; margin-right: 10px; border-right: 1px dotted #cfcfcf; padding-right: 10px; height: 47px; }
/* line 152, ../src/partials/_article.scss */
#Main .template-article .byline .author.last { border-right: none; }
/* line 155, ../src/partials/_article.scss */
#Main .template-article .byline .author img { float: left; margin-right: 10px; }
/* line 159, ../src/partials/_article.scss */
#Main .template-article .byline .author .details { float: left; }
/* line 161, ../src/partials/_article.scss */
#Main .template-article .byline .author .details a { float: left; color: #e09c18; font-size: 80%; text-decoration: none; }
/* line 167, ../src/partials/_article.scss */
#Main .template-article .byline .author .details p { margin: 0; float: left; clear: left; }
/* line 172, ../src/partials/_article.scss */
#Main .template-article .byline .author .details .links { float: left; line-height: 80%; }
/* line 179, ../src/partials/_article.scss */
#Main .template-article .byline .addthis { float: right; }
/* line 181, ../src/partials/_article.scss */
#Main .template-article .byline .addthis a { text-decoration: none; color: #aaaaaa; font-size: 80%; }
/* line 186, ../src/partials/_article.scss */
#Main .template-article .byline .addthis a span { padding-right: 4px; }
/* line 190, ../src/partials/_article.scss */
#Main .template-article .byline .addthis table { padding: 0px; margin: 0px; border-left: 1px dotted #cfcfcf; }
/* line 194, ../src/partials/_article.scss */
#Main .template-article .byline .addthis table hr { padding: 0; margin: 0; border: none; border-top: 1px dotted #cfcfcf; }
/* line 200, ../src/partials/_article.scss */
#Main .template-article .byline .addthis table td { border-right: 1px dotted #cfcfcf; padding: 1px; }
/* line 203, ../src/partials/_article.scss */
#Main .template-article .byline .addthis table td.last { border: none; }
/* line 211, ../src/partials/_article.scss */
#Main .template-article #Articlecomment p { margin: 0; }
/* line 214, ../src/partials/_article.scss */
#Main .template-article #Articlecomment textarea { width: 570px; }

/* line 5, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow p { font-size: 90%; }
/* line 9, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .button_left { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/gallery_slideshow_leftbutton.png?1305205404'); background-repeat: no-repeat; background-position: 0 0; height: 93px; width: 18px; border: 0; cursor: pointer; float: left; margin-right: 10px; }
/* line 18, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .button_left:hover { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/gallery_slideshow_leftbutton.png?1305205404'); background-repeat: no-repeat; background-position: 0 -93px; }
/* line 22, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .button_right { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/gallery_slideshow_rightbutton.png?1305205427'); background-repeat: no-repeat; background-position: 0 0; height: 93px; width: 18px; border: 0; cursor: pointer; float: right; margin-left: 10px; }
/* line 31, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .button_right:hover { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/gallery_slideshow_rightbutton.png?1305205427'); background-repeat: no-repeat; background-position: 0 -93px; }
/* line 35, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .imagelist { overflow: hidden; width: 564px; float: left; }
/* line 39, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .imagelist ul { width: 99999px; display: block; padding: 0; margin: 0; }
/* line 44, ../src/partials/_gallery.scss */
#Main .template-gallery .slideshow .slider .imagelist ul li { float: left; margin-right: 10px; padding: 0; list-style: none; width: 140px; }
/* line 11, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#Main .template-gallery .slideshow .slider .imagelist ul li li { list-style-image: none; list-style-type: none; margin-left: 0px; }
/* line 56, ../src/partials/_gallery.scss */
#Main .template-gallery article { width: 140px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; vertical-align: top; margin-right: 10px; }
/* line 7, ../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#Main .template-gallery article { *display: inline; }
/* line 61, ../src/partials/_gallery.scss */
#Main .template-gallery article.last { margin-right: 0; }
/* line 64, ../src/partials/_gallery.scss */
#Main .template-gallery article h4 { font-size: 90%; }
/* line 69, ../src/partials/_gallery.scss */
#Main .template-gallery hr { clear: both; border: none; height: 1px; background-color: #cfcfcf; margin: 0 0 10px 0; }
/* line 75, ../src/partials/_gallery.scss */
#Main .template-gallery hr.last { margin: 0 0 0 0; }

/* line 3, ../src/partials/_flyout.scss */
#MainNavigation .flyout { display: none; }
/* line 10, ../src/partials/_flyout.scss */
#MainNavigation .flyout { background: white url('../images/fallout_bg.png?1306225437') repeat-x 0 0; -moz-box-shadow: #333333 1px 1px 5px 0; -webkit-box-shadow: #333333 1px 1px 5px 0; -o-box-shadow: #333333 1px 1px 5px 0; box-shadow: #333333 1px 1px 5px 0; overflow: hidden; margin: 7px 0px 0 -5px; position: absolute; padding-bottom: 20px; border: 1px #cfcfcf solid; border-top: 0; }
/* line 20, ../src/partials/_flyout.scss */
#MainNavigation .flyout a { color: black; }
/* line 24, ../src/partials/_flyout.scss */
#MainNavigation .flyout.wide { width: 948px; left: 30px; margin: 7px 0px 0 0; }
/* line 30, ../src/partials/_flyout.scss */
#MainNavigation .flyout ul { margin: 20px 20px 0 0; float: left; width: 300px; width: 300px; border-width: 0; }
/* line 36, ../src/partials/_flyout.scss */
#MainNavigation .flyout ul li { clear: both; background: none; border: #cfcfcf dotted; border-width: 0 0 1px 0; display: block; width: 100%; margin: 0 5px 2px 15px; font-size: 120%; padding: 0 2px 0 2px; }
/* line 46, ../src/partials/_flyout.scss */
#MainNavigation .flyout ul li a { background: url('../images/fallout_arrow.png?1306157510') no-repeat 100% 50%; padding-right: 19px; }
/* line 50, ../src/partials/_flyout.scss */
#MainNavigation .flyout ul li.last { border-width: 0px; }
/* line 58, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news { float: left; width: 620px; margin: 20px 0 0 0; }
/* line 63, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news h3 { margin: 0 20px 5px 0; padding: 0 0 4px 0; border: #cfcfcf dotted; border-width: 0 0 1px 0; }
/* line 69, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news img { float: left; padding: 4px 20px 5px 0; }
/* line 73, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news article { clear: both; overflow: hidden; border: #cfcfcf dotted; border-width: 0 0 1px 0; padding: 0 0 5px 0; margin: 0 20px 5px 0; }
/* line 81, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news article p { margin: 0px; }
/* line 84, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news article.last { border: 0; }
/* line 89, ../src/partials/_flyout.scss */
#MainNavigation .flyout .news h4 { margin: 0 0 0 0; }
