// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 3;
$blueprint-container-size: 940px;
$blueprint-grid-margin: 20px;
$column: 60px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$m: $blueprint-grid-margin;
$vm: 25px;
$leftBorder: 33px;
$fm: $blueprint-container-size ;

$blueprint_font_family: Arial, Helvetica, sans-serif;
$blueprint-fixed-font-family: $blueprint_font_family;
$blueprint-font-size: 13px;
$fs: $blueprint-font-size;

$maincolumn: $column*8+(8*$m)-$m;
$Sidecolumn: $column*4+(4*$m)-$m;

$sectioncolumn: 33%;

$lightlightGrey: #cfcfcf;
$black: #000;
$orange: #e09c18;
$lightGrey: #aaa;
$darkGrey: #222;
$MainNavigationColor: #000;
$TopNavigationColor: #7f7f7f;
$separationline-font-size: 10px;

$DefaultLinkColor: #000;
$SideColumnBox-Header-LinkColor: #fff;

// Article settings

$PictureCaption: #767676; 
$ArticleFactsColor: #f6f6f6;