.quiz
{
  background: image-url("gray_pattern_bg.png");
  padding: $m/2;
  overflow: hidden;
  margin-bottom: $m/2;

  h4 {
    margin-bottom: $m/2!important;
  }
  p {
    margin-bottom: $m/2!important;
  }

  form {
    label {
      float: left;
      display: block;
      margin-bottom: $m/2;
    }
    input {
      display: block;
      clear: both;
      float: left;
    }
  }
  .entries {
    margin-bottom: $m/2;
    overflow: hidden;
    div {
      float: left;
      &.entryname {
        width: 50%;
      }
      &.graphs {
        width: 40%;
      }
      &.results {
        width: 10%;
      }
    }

  }

}

.sideColumn_box
{
  $blue_bg: "header_bg_blue.png";
  $orange_bg: "header_bg_orange.png";
  $arrow_right_orange: "arrow_right_orange.png";
  $search_button: "button_search.png";
  $header_height: 38px;
  $header_width: 300px;
  background-color: #f2f2f2!important;
  overflow: hidden;
  margin: 0 0 $m/2 0;

  &.no-background {
    background: none;
    margin-top: $m;
    h3 {
      color: $black;

      clear: both;
      border: none;
      height: $header_height;
      margin: 0;
    }

  }
  &.blue {
    background:transparent image-url($blue_bg) no-repeat center top;
  }
  &.orange {
    background:transparent image-url($orange_bg) no-repeat center top;
  }
  &.menu {
    margin-bottom: $m;
    background-color: #e5e5e5!important;
    ul {
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px dotted $lightlightGrey;
        a {
          height: $m*2;
          line-height: $m*2;
          padding-left: $m*2;
          display: block;
          overflow: hidden;
          &:hover {
            background:transparent image-url($arrow_right_orange) no-repeat $m center;
            text-decoration: none!important;
            background-color: #f2f2f2;
          }
          &.active {
            background:transparent image-url($arrow_right_orange) no-repeat $m center;
            background-color: #f2f2f2;
          }
        }
        form {
          padding: 0 $m 0 $m;
          .search{
            width: 187px;
            height: 15px;
          }
          .button {
            @include replace-text($search_button,0,0);
            height: 28px;
            width: 57px;
            border: 0;
            cursor: pointer;

            &:hover {
              @include replace-text($search_button,0,-30px);
            }
          }

        }
      }
    }
  }
  &.tabs {
     overflow: hidden;
     ul {
       clear: both;
       padding: 0px;
       margin:  0;
       overflow: hidden;
       li
       {
          float: left;
          @include no-bullet;
          padding: 9px;
          border: solid 1px $lightlightGrey;
          border-width: 0 1px 0 0 ;
          height: 20px;
          &.selected,
          &:hover{
            background: #e09c18 image-url("tab_active_bg.png") 0 0;
            a{
              color: #000!important;
            }

          }
          a {
                  color: #fff!important;
                  text-decoration: none;
          }

       }

    }
  }
  .articleview_picturelist {
    padding: 0 $m/2;
  }
  h3 {
    width: $header_width - $header_height;
    height: $header_height;
    margin-bottom: 0px;
    color: #fff;
    line-height: $header_height;
    padding-left: $m/2;
      &.icon_video {
        background:transparent image-url("icon_VIDEO.png") no-repeat;
        background-position: $m/2 10px;
        padding-left: $header_height;
      }
      &.icon_gallery {
        background:transparent image-url("icon_GALLERY.png") no-repeat;
        background-position: $m/2 10px;
        padding-left: $header_height;
      }
      &.icon_rss {
        background:transparent image-url("icon_RSS.png") no-repeat;
        background-position: $m/2 10px;
        padding-left: $header_height;
      }
      &.icon_FB {
        background:transparent image-url("icon_FB.png") no-repeat;
        background-position: $m/2 10px;
        padding-left: $header_height;
      }
      a {
        color: $SideColumnBox-Header-LinkColor!important;
        &:hover {
          text-decoration: none!important;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;

    }
    a:hover {
      color: #fff;
      text-decoration: underline;

    }
    small {
      font-size: 11px;
      color: #87a5c3;
      float: right;
      padding-right: $m/2;

      a {
        color: #87a5c3;
      }
    }
  dl {
    padding: $m/2;
    clear: both;
    overflow: hidden;
    &.links {
      margin: 0;
      dd {
        width: 100%;
        padding: 4px 0;

      }
    }
    dt {
      float:left;
      width: 30%;
      clear: left;
    }
    dd {
      float:left;
      width: 70%;
      margin: 0;

    }
    hr {
      clear: both;
      height: $m;
    }
  }
  .tickeranimwrap{
    padding: $m/2;

  }
  .tickeranim {
    height: 200px;
    ul {
      li {
        list-style-type: none;
        span.time {
          width: 60px;

          float: left;
        }

        table {
          margin: 0;
          padding: 0;
          td.time{
            width: 60px;
            font-weight: bold;
          }
          td {
            top: 0px;
            vertical-align: top!important;
          }
        }
        hr {
          margin: 0!important;
          padding: 0!important;
        }
      }
    }
  }

  .videoplaceholder {
    padding: $m/2 $m/2 0 $m/2;
    clear: left;

  }
}
