.template-events
{
	hr {
		background: url("../images/line_dotted.png?1302776059") repeat-x scroll 10px 50% transparent;
		border: medium none;
		clear: both;
		margin: 0 0 $m/6 0; 
	}
	.pageingnation {
		display: block;
		background: image-url("gray_pattern_bg.png");
		// border-top: 1px solid $lightlightGrey;
		// border-bottom: 1px solid $lightlightGrey;
		height: $m*2;
		margin-bottom: $m;
		a {
			&.left {
				float: left;
				padding: $m/2;
			}
			&.right {
				float: right;
				padding: $m/2;
			}
		}
	}
	.eventitem {
		display: block;
		overflow: hidden;
		margin-bottom: $m/6;
		&.odd {
			background: #f9f9f9;
		}
		.col-1,.col-2,.col-3 {
			width: $sectioncolumn;
			float: left;
			margin-right: $m;
			.wrapper{
				padding: $m/2;
				p {
					margin: 0;
				}
			}
			&.col-2 {
				background: #f2f2f2;
			}
			&.col-3 {
				margin-right:0;
				.wrapper{
					padding-left: 0;
				}
			}
		}

	}

}