form {
  input[type="radio"] {
    top: 0!important;
    margin-right: $m/4!important;
  }
  p {
    margin-bottom: $m/4!important;
  }
  label {
    font-weight: normal!important;
  }
}


#TipForm{
  overflow: hidden;
  padding: $m;
  width: 600px;
  input,
  label,
  textarea
  {
    float: left;
  }

  label{
    width: 150px;
    clear: both;
  }
  p
  {
    overflow: hidden;
    clear: both;



  }

}


body#Tips {
  min-width: 0;
}

