@mixin inputText($img-url:"input.png") {
  width: image-width($img-url) - $m;
  height: image-height($img-url) - $m;
  padding: $m/2;
  background:transparent image-url($img-url) left top no-repeat;
  border: 0;
  @include fontsize;
  color: $lightlightGrey;
};

@mixin bigsearchfield($img-url:"input_big.png") {
  width: image-width($img-url) - $m;
  height: image-height($img-url) - $m;
  padding: $m/2;
  background:transparent image-url($img-url) left top no-repeat;
  border: 0;
  @include fontsize;
  color: $lightlightGrey;
};


@mixin submitbtn($bg:"login_bg.png") {
  background: #053463 image-url($bg) left top no-repeat ;
  width: image-width($bg) ;
  height: image-height($bg);
  border: 0;
  margin: 0;
  color: #fff;
  padding: (image-height($bg)- 14px)/2 ;
  font-weight: bold;
  @include fontsize(12px);
  line-height: 14px;
  @include border-radius;
  margin: $m/2 $m/2 $m/2 0;
};

@mixin loginForms(){
   form{
   	 float: right;
   	 &.fl {
   	 	float:left!important;
   	 }
	 .logout {
       padding: $m/2 0 $m/2 $m;
       margin: 0 0 $m/2;
       $lf_bg: "login_form_bg.png";
       background: image-url($lf_bg) right bottom no-repeat transparent;
       width: image-width($lf_bg) -$m/2;
       height: image-height($lf_bg) - $m;
       .info {
		padding: $m/2;
		float: right;
		a {
		 	  @include submitbtn;
		      margin: 0 $m/2 0 0;
		      text-decoration: none;
		      margin-left: $m/2;
		 }
       }
	 
	 }
     &.login
     {
       padding: $m/2 0 $m/2 $m;
       margin: 0 0 $m/2;
       $lf_bg: "login_form_bg.png";
       background: image-url($lf_bg) right bottom no-repeat transparent;
       width: image-width($lf_bg) -$m/2;
       height: image-height($lf_bg) - $m;
       input[type=submit]{
          @include submitbtn;
       }
     }
     &.search
     {
       input[type=search]{
          @include inputText;
       }
       input[type=submit]{
          @include submitbtn("search.png");
          margin: 0 $m/2 0 0;
       }
     }
     &.bigsearchfield
     {
       input[type=search]{
          @include bigsearchfield;
       }
       input[type=submit]{
          @include submitbtn("search.png");
          margin: 0 $m/2 0 0;
       }
     }
     input{
       font-family: $blueprint_font_family;
       margin: $m/2 $m/2 $m/2 0;
       &[type=password]
       {
          @include inputText("login_input_bg.png");
          height: 20px;
          padding-top: $m/4;
          padding-bottom: $m/4;

       }
       &[type=text]
       {
          @include inputText("login_input_bg.png");
          height: 20px;
          padding-top: $m/4;
          padding-bottom: $m/4;
          &.username
          {
            width: image-width("login_input_bg.png") - 50px;
            background-image: image-url("login_username_bg.png");
            padding: $m/4 $m/2 $m/4 $m*2;
            height: 20px;
            margin-left: 5px;
          }
       }
     }
   }
 }


@mixin fontsize($fz:$fs){
  font-size: ($fz/$fs)*100%;
}


@mixin byline(){
	.byline {
		border: 1px solid $lightlightGrey;
		padding: $m/3;
		overflow: hidden;
		margin-bottom: $m;
		
		.author {
			float: left;
			margin-right: $m/2;
			border-right: 1px dotted $lightlightGrey;
			padding-right: $m/2;
			height: 47px;
			&.last {
				border-right: none;
			}
			img {
				float: left;
				margin-right: $m/2;
			}
			.details {
				float:left;
				a {
					float: left;
					color: $orange!important;
					font-size: 80%;
					text-decoration: none;
				}
				p {
					margin: 0;
					float: left;
					clear: left;
				}
				.links {
					float: left;
					line-height: 80%;
				}
			
			}
		}
		.addthis {
			float: right;
			a {
				text-decoration: none;
				color: $lightGrey;
				font-size: 80%;
			
				span {
					padding-right: 4px;
				}
			}
			table {
				padding: 0px;
				margin: 0px;
				border-left: 1px dotted $lightlightGrey;
				hr {
					padding:0;
					margin:0;
					border: none;
					border-top: 1px dotted $lightlightGrey;
				}
				td {
					border-right: 1px dotted $lightlightGrey;
					padding: 1px;
					&.last {
						border: none;
					}
				}
			}
		}
	}
}
