@import "screen";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// @include blueprint-print

//Recommended Blueprint configuration with scoping and semantic layout:
body {
  @include blueprint-print;
}


aside,
#sideColumn,
#MainNavigation,
#main,
.footer,
.pageStrip,
#Articlecomment,
#Main .template-article .box, #Main .template-blog .box,
.addthis_toolbox
{
  display: none !important;

}


#MainbColumn .top header .caption p,
#MainbColumn .top header .caption h1 a,
#MainbColumn .top header .caption h1
{
  padding: 5px 0;
  color: #000;
  @include single-text-shadow(#ddd);
}

#MainbColumn
{
  width: 95%;
}


.printLogo
{
  display: block;
  padding: $m;

}
